$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #8f4ec7;
$color__background-button-hover: #68c5f9;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #8f4ec7;
$color__text-main: #7b838b;
$color__headings: #2c3847;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ebeef1;
$color__border-abbr: #666;
$color__border-table: #ebeef1;


$background__sticky-post-pin: #68c5f9;

$background__tags: #f3f8fb;
$background__post-navigation: #f3f8fb;

$color__text-secondary: #9ea6ac;

$color__lines: #f3f9fd;


$background__dropdown-menu: #f2f9fd;

$header__gradient: linear-gradient(to bottom, rgb(247, 251, 254) 0%, rgba(255, 255, 255, 0) 304px);
$background__dotted-border: #f1f4f7;

$color__border-comments: #ebeef1;

$color__reply-link: #64c0f4;


$background__search-modal: rgba(242, 249, 253, .98);
$background__mobile-menu: rgba(242, 249, 253, .98);

$color__borders-pullquote: #dbdee1;
$color__background-pullquote: #f2f9fd;


$color__border-recent-posts: #eaedef;