$size__site-main: 100%;
$size__site-sidebar: 25%;


$content-max-width-page: 938px;
$content-max-width-post: 748px;

$content-max-width: 1130px;
$alignwide-width: 1130px;

$padding-site: 95px;
$padding-site-mobile: 25px;