a {
    color: $color__link;
    text-decoration: none;
    transition: all .3s ease;

    &:hover,
    &:focus {
        text-decoration: underline;
    }

    &:focus {
        outline: thin dotted;
    }

    &:hover,
    &:active {
        outline: 0;
    }
}
